name: Docker Container Registry

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1 # may be actions/checkout@v2 now
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login ghcr.io -u arduino-cloud-collection --password-stdin
      - name: Build the latest Docker image
        run: docker build . --file Dockerfile --tag ghcr.io/arduino-cloud-collection/backend:latest
      - name: Push the latest Docker image
        run: docker push ghcr.io/arduino-cloud-collection/backend:latest
